@font-face {
	font-family: "Quicksand";
	src: url(./assets/Quicksand-VariableFont_wght.ttf);
}

body {
	margin: 0;
	font-family: "Quicksand", Fallback, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: auto;
}

.main-heading {
	font-size: 2.5rem;
}

.main-content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 2rem;
}

.description {
	max-width: 34rem;
	line-height: 1.85;
}

.external-link {
	border-bottom: 1px solid #60a5fa;
	color: #60a5fa !important;
	text-decoration: none;
	color: inherit;
}

.text-input > textarea {
	width: 80%;
	height: 20rem;
	padding: 1rem;
	line-height: 1.85;
	border: 1.5px solid #111827;
	border-radius: 5px;
}

.diagram-info > li:not(:first-child) {
	padding-top: 0.5rem;
}

.chart-container {
	border: 1px solid #111827;
	border-radius: 5px;
}

.word-classes-dropdown {
	padding-left: 20px;
	color: #fdfbfb;
}

#word-classes-select {
	margin-left: 5px;
}

.chart-tools {
	background-color: #1f2937;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reference-links {
	display: flex;
	padding-top: 1rem;
}

.error {
	color: #ef4444;
	font-weight: bold;
}

.reference-links > a:not(:first-child) {
	margin-left: 20px;
}

.footer-text {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	color: #6b7280;
}

@media screen and (max-width: 640px) {
	.main-content {
		grid-template-columns: 1fr;
		grid-gap: 3rem;
		padding: 2rem;
	}

	.text-input > textarea {
		width: 90%;
		height: 20rem;
	}

	.main-heading {
		font-size: 2rem;
	}
}
